{% extends "default.html" %}
{% load my_filters %}
{% load custom_tef %}
{% block title %}Поиск новостей{% endblock %}

{% block content %}

<h1>Поиск новостей</h1>

<form method="get">
    {{ filterset.form.as_p }}
    <button type="submit">Найти</button>
</form>

<hr>

{% if news_list %}
  {% for post in news_list %}
    <h3>
      <a href="{% url 'news_detail' post.pk %}">
        {{ post.title }}
      </a>
    </h3>
    <p>{{ post.text|truncatewords:20 }}</p>
    <hr>
  {% endfor %}
{% else %}
  <p>Ничего не найдено</p>
{% endif %}
{% if is_paginated %}
  <div style="margin-top: 16px;">
    {% if page_obj.has_previous %}
      <a href="?{% url_replace page=1 %}">1</a>

      {% if page_obj.previous_page_number > 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">
          {{ page_obj.previous_page_number }}
        </a>
      {% endif %}
    {% endif %}

    <strong>{{ page_obj.number }}</strong>

    {% if page_obj.has_next %}
      <a href="?{% url_replace page=page_obj.next_page_number %}">
        {{ page_obj.next_page_number }}
      </a>

      {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
        ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">
          {{ page_obj.paginator.num_pages }}
        </a>
      {% endif %}
    {% endif %}
  </div>
{% endif %}
{% endblock %}